<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="shared-head">
    <base href="${pageContext.request.contextPath}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Admin console</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/content-public/admin/css/editor.css}"
          href="../../../static/content-public/admin/css/editor.css"/>
    <link rel="icon"
          th:href="@{/content-public/rhz-we-core/images/favicon.ico}"
          href="../../../static/content-public/rhz-we-core/images/favicon.ico"
          type="image/x-icon"/>
    <script type="text/javascript"
            th:src="@{/content-public/js/dist/jquery.min.js}"
            src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="editor-header" th:fragment="shared-editor-header">
        <h1>Admin console</h1>
        <a th:href="@{/}" class="btn btn-secondary">Back to website</a>
    </div>
    <div class="editor-nav" th:fragment="shared-editor-nav">
        <a th:href="@{/editor/resources}">Resources</a>
        <a th:href="@{/editor/categories}">Categories</a>
        <a th:href="@{/editor/pages}">Pages</a>
        <a th:href="@{/editor/accounts}">Accounts</a>
    </div>
</body>
</html>