<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <base href="${pageContext.request.contextPath}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <title>Create Category - rhz-we</title>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/styles.css}"
        href="../../../static/content-public/themes/2000s/css/styles.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/color-schemas/snowy.css}"
        href="../../../static/content-public/themes/2000s/css/color-schemas/snowy.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/rhz-we-core/css/system.css}"
        href="../../../static/content-public/rhz-we-core/css/system.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/admin/css/editor.css}"
        href="../../../static/content-public/admin/css/editor.css"/>
  <link rel="icon"
        th:href="@{/content-public/rhz-we-core/images/favicon.ico}"
        href="../../../static/content-public/rhz-we-core/images/favicon.ico"
        type="image/x-icon"/>
</head>
<body>
  <div class="editor-wrapper">
    <div class="editor-header">
      <h1>Admin console</h1>
      <a th:href="@{/}" class="btn btn-secondary">Back to website</a>
    </div>

    <div class="editor-nav">
      <a th:href="@{/editor/resources}">Resources</a>
      <a th:href="@{/editor/categories}">Categories</a>
      <a th:href="@{/editor/pages}">Pages</a>
    </div>

    <div th:if="${error}" class="error-message" th:text="${error}">
      Error message
    </div>
    
    <form th:action="@{/editor/category/create}" method="post">
      <div class="form-group">
        <label for="itemName">Category Name (ID)</label>
        <input type="text" id="itemName" name="itemName" placeholder="my-category" required/>
      </div>
      
      <div class="form-group">
        <label for="navigationTitle">Navigation Title</label>
        <input type="text" id="navigationTitle" name="navigationTitle"/>
      </div>
      
      <div class="form-group">
        <label for="navigationDescription">Navigation Description</label>
        <input type="text" id="navigationDescription" name="navigationDescription"/>
      </div>
      
      <div class="form-row">
        <div class="form-group checkbox-group">
          <label>
            <input type="checkbox" name="isVisible" id="isVisible"/>
            Visible in navigation
          </label>
        </div>
        <div class="form-group checkbox-group">
          <label>
            <input type="checkbox" name="isActive" id="isActive"/>
            Active
          </label>
        </div>
      </div>
      
      <div class="editor-actions">
        <button type="submit" class="btn btn-primary">Create Category</button>
      </div>
    </form>
  </div>
</body>
</html>
