<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <base href="${pageContext.request.contextPath}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <title>Editor - rhz-we</title>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/styles.css}"
        href="../static/content-public/themes/2000s/css/styles.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/color-schemas/snowy.css}"
        href="../static/content-public/themes/2000s/css/color-schemas/snowy.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/rhz-we-core/css/system.css}"
        href="../static/content-public/rhz-we-core/css/system.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/editor.css}"
        href="../static/content-public/themes/2000s/css/editor.css"/>
  <link rel="icon"
        th:href="@{/content-public/rhz-we-core/images/favicon.ico}"
        href="/content-public/rhz-we-core/images/favicon.ico"
        type="image/x-icon"/>
</head>
<body>
  <div class="editor-wrapper">
    <div class="editor-header">
      <h1>Admin console</h1>
      <a th:href="@{/}" class="btn btn-secondary">Back to website</a>
    </div>

    <div class="editor-nav">
      <a th:href="@{/editor/resources}">Resources</a>
      <a th:href="@{/editor/categories}">Categories</a>
      <a th:href="@{/editor/category/create}">Create category</a>
      <a th:href="@{/editor/pages}">Pages</a>
      <a th:href="@{/editor/create}">Create page</a>
    </div>

    <div th:if="${items.empty}" class="empty-message">
      No editable pages found.
    </div>
    
    <ul class="item-list" th:unless="${items.empty}">
      <li th:each="item : ${items}">
        <a th:href="@{/editor/edit(name=${item.uniqueUriName})}" class="item-link">
          <div class="item-info">
            <div class="item-title" th:text="${item.pageData?.title}">Page Title</div>
            <div class="item-meta">
              <span th:text="${item.uniqueUriName}">uri-name</span>
              <span th:if="${item.pageData?.tags}">Tags: <span th:text="${#strings.listJoin(item.pageData.tags, ', ')}">tag1, tag2</span></span>
            </div>
            <div class="item-meta" th:with="events=${item.historyData.events}">
              <span th:if="${events != null and events.length > 0}">
                Created: <span th:text="${#temporals.format(events[0].localDateTime, 'yyyy-MM-dd HH:mm')}">2024-01-01 12:00</span>
                by <span th:text="${events[0].owner?.accountData?.login}">admin</span>
              </span>
              <span th:if="${events != null and events.length > 1}">
                | Updated: <span th:text="${#temporals.format(events[events.length - 1].localDateTime, 'yyyy-MM-dd HH:mm')}">2024-01-02 12:00</span>
                by <span th:text="${events[events.length - 1].owner?.accountData?.login}">admin</span>
              </span>
            </div>
          </div>
        </a>
        <form th:action="@{/editor/delete}" method="post" class="item-form">
          <input type="hidden" name="name" th:value="${item.uniqueUriName}"/>
          <button type="submit" class="delete-btn" onclick="return confirm('Delete this page?')">Delete</button>
        </form>
      </li>
    </ul>
  </div>
</body>
</html>
