<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <base href="${pageContext.request.contextPath}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <title>Edit: <span th:text="${item.pageData?.title}">Page</span> - rhz-we</title>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/__${stylesTheme}__/css/styles.css}"
        href="../static/content-public/themes/default/css/styles.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/__${stylesTheme}__/css/color-schemas/__${stylesSchema}__.css}"
        href="../static/content-public/themes/default/css/color-schemas/snowy.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/rhz-we-core/css/system.css}"
        href="../static/content-public/rhz-we-core/css/system.css"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/2000s/css/editor.css}"
        href="../static/content-public/themes/2000s/css/editor.css"/>
  <link rel="icon"
        th:href="@{/content-public/rhz-we-core/images/favicon.ico}"
        href="/content-public/rhz-we-core/images/favicon.ico"
        type="image/x-icon"/>
  <script type="text/javascript"
          th:src="@{/content-public/js/dist/jquery.min.js}"
          src="//code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="editor-wrapper">
    <div class="editor-header">
      <h1>Admin console</h1>
      <a th:href="@{/}" class="btn btn-secondary">Back to website</a>
    </div>

    <div class="editor-nav">
      <a th:href="@{/editor/resources}">Resources</a>
      <a th:href="@{/editor/categories}">Categories</a>
      <a th:href="@{/editor/category/create}">Create category</a>
      <a th:href="@{/editor/pages}">Pages</a>
      <a th:href="@{/editor/create}">Create page</a>
    </div>
    
    <form th:action="@{/editor/save}" method="post">
      <input type="hidden" name="name" th:value="${item.uniqueUriName}"/>
      
      <div class="form-row">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" th:value="${item.pageData?.title}"/>
        </div>
        <div class="form-group">
          <label for="header">Header</label>
          <input type="text" id="header" name="header" th:value="${item.pageData?.header}"/>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="subHeader">Sub Header</label>
          <input type="text" id="subHeader" name="subHeader" th:value="${item.pageData?.subHeader}"/>
        </div>
        <div class="form-group">
          <label for="categoryId">Category</label>
          <select id="categoryId" name="categoryId">
            <option value="">-- No Category --</option>
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.categoryData?.itemName != null ? cat.categoryData.itemName : cat.id}" th:selected="${item.refCategory?.id?.toString() == cat.id?.toString()}">Category Name</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="imageId">Featured Image</label>
          <select id="imageId" name="imageId">
            <option value="">-- No Image --</option>
            <option th:each="img : ${images}" th:value="${img.id}" th:text="${img.resourceData?.pathPublic}" th:selected="${item.pageData?.refImage?.id?.toString() == img.id?.toString()}">/path</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tags">Tags (comma separated)</label>
          <input type="text" id="tags" name="tags" th:value="${#strings.listJoin(item.pageData?.tags, ', ')}"/>
        </div>
      </div>
      
      <div class="form-group">
        <label>Content (Markdown/HTML)</label>
        <textarea id="description" name="description" th:text="${item.pageData?.description}" rows="20" class="editor-textarea"></textarea>
      </div>
      
      <div class="editor-actions">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    
    <div class="preview-container">
      <h3>Preview</h3>
      <div class="preview-content" id="preview">
        <th:block th:utext="${item.pageData?.description}"/>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function() {
      var rawContent = /*[[${item.pageData?.description}]]*/ '';
      if (rawContent) {
        $('#description').val(rawContent);
        $('#preview').html(rawContent);
      }
      $('#description').on('input', function() {
        $('#preview').html($(this).val());
      });
    });
  </script>
</body>
</html>
