:root {

	--color-default-text: #383838;

	/* ACCENT-colors for stripline, for inputs, buttons etc. */
	--color-default-accent-one: var(--color-item-link-hover);
	--color-default-accent-one-alter: var(--color-footer-link-active);
	--color-default-accent-two: var(--color-item-type-text);

	/* Body background color */
	--color-body-bg: #484645;

	--color-footer-bg: var(--color-item-type-bg);
	--color-footer-text: #8e8e8e;
	--color-footer-text-accent: #000000;
	--color-footer-link-hover: #ffffff;
	--color-footer-link-active: #ffffff;
	--color-footer-link-normal: #bdbdbd;
	--color-footer-link-visited: #afafaf;

	--color-notification-failure-text: #f58484;
	--color-notification-success-text: #3d583e;
	--color-notification-neutral-text: #292929;
	--color-notification-success-bg: #b6fdd9;
	--color-notification-failure-bg: #713232;
	--color-notification-neutral-bg: #d0d0d0;

	--color-item-type-bg: rgb(43, 41, 37);
	--color-item-type-text:#e6e6e6;
	--color-item-header-bg: #929292;
	--color-item-header-text: var(--color-default-text);
	--color-item-body-bg: #b3b3b3;
	--color-item-body-text: var(--color-default-text);
	--color-item-link-hover: #efefef;
	--color-item-link-active: #e8e8e8;
	--color-item-link-normal: #776767;
	--color-item-link-visited: #5f5252;

	--color-error-type-bg: rgba(59,58,54,1);
	--color-error-type-text: #ffb114;
	--color-error-header-bg: #f69829;
	--color-error-header-text: var(--color-default-text);
	--color-error-body-bg: #424140;
	--color-error-body-text: var(--color-error-header-bg);

	--color-special-expired-item: #f64500;

	/* errors are ok, they been caused by relative path*/
	--bg-main: url("../images/body-background-electricity-flat.jpg");
	--bg-footer: url("../images/footer-background-vertex-green.png");
}