<!DOCTYPE html>
<html class="theme-js theme-modern" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${htmlTitle}">Calm Springs</title>
  <script id="script-cse-dist-jquery" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/jquery.min.js}"
          src="js/jquery.min.js"></script>
  <meta name="cse-context" th:content="${cseContextPath}">
  <meta name="csrf-token" th:if="${_csrf != null}" th:content="${_csrf.token}">
  <script id="script-cse-csrf" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/cse-csrf.js(v=7)}"
          src="js/cse-csrf.js?v=7"></script>
  <script id="script-cse-dist-bootstrap" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/bootstrap.min.js}"
          src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/__${stylesShell}__/css/bootstrap.min.css}"
        href="css/bootstrap.min.css">
  <link id="styles-fonts" rel="stylesheet" type="text/css"
        th:href="@{/content-public/themes/__${stylesShell}__/css/fonts.css}"
        href="css/fonts.css">
  <link rel="stylesheet" href="content-public/cse-core/css/system.css"
        th:href="@{/content-public/cse-core/css/system.css}">
  <link rel="stylesheet"
        th:href="@{/content-public/themes/__${stylesTheme}__/css/styles.css}"
        href="css/styles.css">
  <link id="styles-schema" rel="stylesheet"
        th:href="@{/content-public/themes/__${stylesTheme}__/css/color-schemas/__${stylesSchema}__.css}"
        href="css/color-schemas/linen.css">
  <link rel="stylesheet"
        th:href="@{/content-public/themes/__${stylesTheme}__/css/cse-player.css}"
        href="css/cse-player.css">
  <link rel="icon" href="content-public/cse-core/images/favicon.ico"
        th:href="@{/content-public/cse-core/images/favicon.ico}"
        type="image/x-icon">
  <script id="script-cse-lp" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/cse-lp.js}"
          src="js/cse-lp.js"></script>
  <script id="script-cse-tiny" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/cse-tiny.js}"
          src="js/cse-tiny.js"></script>
  <script id="script-cse-waveform" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/cse-waveform.js}"
          src="js/cse-waveform.js"></script>
  <script id="script-cse-player" type="text/javascript"
          th:src="@{/content-public/themes/__${stylesShell}__/js/cse-player.js}"
          src="js/cse-player.js"></script>
  <script th:src="@{/content-public/themes/__${stylesShell}__/js/theme.js}"
          src="js/theme.js" defer></script>
</head>
<body id="page-body" class="theme-js theme-modern">
<div class="cse-player">
  <div class="player-row">
    <span class="title"></span>
    <span class="artist"></span>
  </div>
  <div class="player-row controls">
    <div class="control-btns">
      <button class="replay-btn" title="Repeat">↺</button>
      <button class="play-btn" title="Play">▶</button>
      <button class="queue-btn" title="Queue">☰<span class="queue-badge"></span></button>
    </div>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
    <span class="time-current">0:00</span>
  </div>
</div>
<div class="cse-queue">
  <div class="queue-header">
    <h3>Queue</h3>
    <button class="clear-queue-btn">Clear & Close</button>
  </div>
  <ul class="cse-queue-list">
    <li class="cse-queue-empty">Queue is empty</li>
  </ul>
</div>

<header class="site-top">
  <a class="brand" id="site-brand" href="./">Calm Springs</a>
  <nav class="site-nav" id="site-nav"></nav>
  <div class="account-slot" id="account-slot" hidden>
    <details class="account-menu">
      <summary id="account-summary">Account</summary>
      <div class="account-panel">
        <div id="loginpanel-guest">
          <div id="loginpanel-guest-default">
            <p>Sign in to comment and use the rest of the site.</p>
            <button id="loginpanel-button-register" class="transition">New account</button>
            <button id="loginpanel-button-ihaveanaccount" class="transition">I have an account</button>
          </div>
          <div id="loginpanel-guest-signin" hidden="hidden">
            <label for="loginpanel-username">Username</label>
            <input class="transition" name="loginpanel-input" id="loginpanel-username" type="text" placeholder="Enter username" required>
            <label for="loginpanel-password">Password</label>
            <input class="transition" name="loginpanel-input" id="loginpanel-password" type="password" placeholder="Enter password" required>
            <button id="loginpanel-button-signin" class="transition" hidden="hidden">Sign in</button>
            <div id="loginpanel-notification-failure" class="notification failure" hidden="true">
              <div class="icon"><h1>&#x24D8</h1></div>
              <div class="text"><u><i id="loginpanel-notification-header">Error</i></u><br>
                <div id="loginpanel-notification-description">Wrong credentials,<br>try again</div>
              </div>
            </div>
            <button id="loginpanel-button-idonthaveanaccount" class="transition">I don't have an account</button>
          </div>
        </div>
        <div id="loginpanel-user" hidden>
          <p>Welcome, <a class="transition" href="./user" id="loginpanel-username-label">user</a></p>
          <button id="loginpanel-button-editor" class="transition">Admin console</button>
          <button id="loginpanel-button-logout" class="transition">Logout</button>
        </div>
      </div>
    </details>
  </div>
</header>

<main class="site-main" id="site-main">
  <p class="kicker">Loading</p>
</main>

<footer id="footer" class="site-foot">
  <div class="foot-up">
    <div class="foot-org" id="foot-org"
         th:utext="${TagCompanyName}+${TagCompanyPhysicalAddress}+${TagCompanyPhone}+${TagCompanyEmailAddress}+${TagCompanySocialLinks}"></div>
  </div>
  <div class="foot-divider"></div>
  <div class="foot-down">
    <div class="foot-copy" id="foot-copy"
         th:utext="${TagCopyrightHolder}+${TagCopyrightComment}"></div>
    <div class="foot-studio" id="foot-studio"
         th:utext="${TagBuilderLink}+${TagSoftVersion}"></div>
  </div>
</footer>

<div id="popup-registration-container" hidden="hidden">
  <div id="registration-window" class="row lots-editor">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div id="registration-window-content" class="col-sm-12">
        <div class="text-region">
          <p><b>Dear guest</b>, please provide registrational data</p>
          <div id="registration-window-form"></div>
          <button id="registration-window-button-cancel" class="transition">Cancel</button>
          <div id="registration-window-notification-failure" class="notification failure" hidden="hidden">
            <div class="icon"><h1>&#x24D8</h1></div>
            <div class="text"><i id="registration-window-notification-header">Error</i><br>
              <div id="registration-window-notification-description">Something went wrong<br>Server-side</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
